!!!
html(ng-app='bookofmormon')
  head
    block headtitle
        title Author
    block meta
    link(rel="icon", type="image/png", href="/favicon.png")
    block css
      link(href="index.css", rel="stylesheet", media="screen")
  body
    block body
    block endjs
